.menu-section a{
    float:right;
    margin:10px 2px;
    padding:10px;
    text-decoration:none;
    color:black;
    font-weight:bold;
    

}

.menu-section a:hover {
  color: black; 
  background-color: rgb(235,235,235);  
}

hr {
    clear: both;
}