.body {
    clear:both;
}
.default-server {
    background-color: rgb(235, 235, 235);
    padding:30px;
    overflow:auto;
}
.default-server a {
    background-color:skyblue;
    color: rgb(235, 235, 235);
    float:right;
}
.data-tool {
    background-color: skyblue;
    padding:30px;
    overflow:auto;
}
.data-tool a {
    background-color:rgb(235, 235, 235);
    color: skyblue;
    float:right;
}
.function-link {
}
.function-link a {
    padding:10px;
    border-radius: 4px;
    text-decoration: none;
    background-color:rgb(235, 235, 235);
    color: skyblue;
    margin:5px;
}
.to-before {
    margin:30px 0px;
}
.to-before hr {
    margin:30px 0px;}
.to-before a {
    padding:10px;
    border-radius: 4px;
    text-decoration: none;
    background-color:rgb(235, 235, 235);
    color: skyblue;
    margin:5px;
}