
.job {
    clear: both;
    background-color: rgb(235, 235, 235);
}
.job a {
    background-color:skyblue;
    color: rgb(235, 235, 235);
    float:right;
}
.add-worklog h2 {
    float:right;
    margin:5px 20px;
}