
    <section class="menu-section">
      <a href="test.html">테스트 페이지</a>
      <a href="worklog.html">작업 일지</a>
      <a href="worklist.html">작업 목록</a>
      <a href="portfolio.html">포트폴리오</a>
      <a href="career.html">경력</a>
      <a href="aboutme.html">자기소개</a>
      <a href="index.html">홈</a>
      <hr>
    </section>